!!!
%html{:lang => "en"}
  %head
    %title Admin Console | #{CONFIG[:blog_details][:title]}
    %link{:href => "http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css", :rel => "stylesheet", :type => "text/css"}
    %script{:src => "http://code.jquery.com/jquery-1.10.0.min.js"}
    %script{:src => "//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"}
    %script{:src => "/js/admin.js"}
    :css
      body {
        background-color: #f0f0f0;
      }
  %body
    .navbar.navbar-inverse.navbar-fixed-top
      .navbar-inner
        .container
          .brand{:style => 'color: #fff;'} <i class='icon-gears'></i> #{CONFIG[:blog_details][:title]}
          .nav-collapse.collapse
            %ul.nav
              %li.active
                %a{:href => "/admin"} Home
              %li
                %a{:href => "/admin/post"} Add / Edit Posts
              %li
                %a{:href => "/admin/users"} Add / Edit Users
    .container{:style => 'padding: 80px 10px 10px 10px; background-color: #fff'}
      .row
        .span12
          %h2 Recent Posts
          %table#post-table.table.table-striped.table-bordered
            %thead
              %tr
                %th Posted on
                %th Title
                %th Published?
                %th Actions
            %tbody
              - posts = Controller::Blog.get_all_posts
              - posts.each do |post|
                %tr{:link =>"#{post.permalink}"}
                  %td #{Time.at(post.timestamp)}
                  %td #{post.title}
                  - if post.is_published?
                    %td{:style => 'text-align: center;'} <i class='icon-check icon-large'></i>
                  - else
                    %td{:style => 'text-align: center;'} <i class='icon-check-empty icon-large'></i>
                  %td{:style => 'text-align: center;'}
                    .btn-group
                      %button.btn.view <i class='icon-eye-open icon-large'></i>
                      %button.btn.edit <i class='icon-edit icon-large'></i>
                      %button.btn.delete <i class='icon-remove icon-large'></i>
    #delete-modal.modal.high.fade
      .modal-header
        %h3 Delete a Post
      .modal-body
        #post-data{:style => 'text-align: center'}
          %i.icon-spinner.icon-spin.icon-3x
      .modal-footer
        %button.btn{:'data-dismiss' => 'modal'} Close
        %button#delete-post-btn.btn.btn-danger Yes
