- if params[:slug]
  - post = Controller::Blog.get_single_post(params[:year], params[:month], params[:slug])
!!!
%html{:lang => "en"}
  %head
    %title #{post ? "Editing \"#{post.title}\" | #{CONFIG[:blog_details][:title]}" : "Add a Post | #{CONFIG[:blog_details][:title]}"}
    %link{:href=>"http://fonts.googleapis.com/css?family=PT+Serif:400italic", :rel=>"stylesheet"}
    %link{:href=>"//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css", :rel=>"stylesheet"}
    %link{:href => "http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "/css/admin.css", :rel => "stylesheet", :type => "text/css"}
    %script{:src => "http://code.jquery.com/jquery-1.10.0.min.js"}
    %script{:src=>"//netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"}
    %script{:src => "/js/admin.js"}
    :css
      body {
        background-color: #f0f0f0;
      }
  %body
    .navbar.navbar-inverse.navbar-fixed-top
      .container
        .navbar-header
          .navbar-brand{:style => 'color: #fff;'} <i class='fa fa-gears'></i> #{CONFIG[:blog_details][:title]}
        .collapse.navbar-collapse
          %ul.nav.navbar-nav
            %li
              %a{:href => "/admin"} Home
            %li.active
              %a{:href => "/admin/post"} Add / Edit Posts
            %li
              %a{:href => "/admin/users"} Add / Edit Users
    .container{:style => 'margin-top: 50px;'}
      .row
        - if post
          %form#post-form{:role => 'form', :method => 'post', :action => '/admin/post'}
            %p
              %input#title-post.post-form.form-control{:name => 'post[title]', :value => "#{post.title}", :type => "text"}
              %textarea#body-post.post-form.form-control{:rows => 7, :placeholder => 'body', :name => 'post[body]'} #{post.body}
              %input#tags-post.post-form.form-control{:name => 'post[tags]', :value => "#{post.tags ? post.tags.join(', ') : ''}", :type => "text"}
              %input{:name => 'post[id]', :type => "text", :id => 'id', :style => 'display: none', :value => "#{post.id}"}
            .pull-right{:style => 'display: inline;'}
              .btn-group
                %button.post-btn.btn.btm-sm.btn-default{:type => "submit"} Save
                %button.post-btn.btn.btm-sm.btn-default{:type => "submit", :preview => 'true' } Preview
                %button#post-btn-cancel.btn.btn-danger Cancel
            = "<input id='publish' name='post[pub]' style='display: none;' type='checkbox' #{post.is_published? ? 'checked' : ''}>"
            %h3 Publish <i id='publisher' class="fa #{post.is_published? ? 'fa-check-square-o' : 'fa-square-o'}"></i>
        - else
          %form#post-form{:method => 'post', :action => '/admin/post'}
            %p
              %input#title-post.post-form.form-control{:name => 'post[title]', :placeholder => "title", :type => "text"}
              %textarea#body-post.post-form.form-control{:rows => 7, :placeholder => 'body', :name => 'post[body]'}
              %input#tags-post.post-form.form-control{:name => 'post[tags]', :placeholder => "Tags", :type => "text"}
              %input{:name => 'post[id]', :type => "text", :id => 'id', :style => 'display: none'}
            .pull-right{:style => 'display: inline;'}
              .btn-group
                %button.post-btn.btn.btm-sm.btn-default{:type => "submit"} Save
                %button.post-btn.btn.btm-sm.btn-default{:type => "submit", :preview => 'true' } Preview
                %button#post-btn-cancel.btn.btn-danger Cancel
            %input#publish{:name => 'post[pub]', :style => 'display: none;', :type => 'checkbox'}
            %h3 Publish <i id='publisher' class="fa fa-square-o"></i>
