!!!
%html
  %head
    %title #{params[:tag] ? "#{CONFIG[:blog_details][:title]} | posts tagged \'#{params[:tag]}\'" : "#{CONFIG[:blog_details][:title]} | dan pittman"}
    %link{:href => "http://netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "/css/code.css", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "/css/style.css", :rel => "stylesheet", :type => "text/css"}
    %script{:src => "http://code.jquery.com/jquery-1.10.0.min.js"}
    %script{:src => "http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"}
  %body
    .container{:style => "margin-top: 40px"}
      .row
        %h1
          %a{:href => "/blog/"}
            = CONFIG[:blog_details][:title_html] ? CONFIG[:blog_details][:title_html] : CONFIG[:blog_details][:title]
        %span#subtitle #{CONFIG[:blog_details][:subtitle]}
      .row{:style => "margin-top: 40px;"}
        <p style='font-size: 20px; color: #555;'>These posts are separated by topic, as I typically rabbit hole on a specific thing for a period of time.  My MO is start at the beginning, so there is often an attempt to tie some history to modern concepts.</p>
        %hr{:style => "margin: 0, color: #7c7c7c"}
      .row{:style => "margin-top: 20px;"}
        - Controller::Blog.get_topics.each do |topic|
          %h2{:style => 'font-weight: bold; color: #222; letter-spacing: -1px'} #{topic.name}
          %ul
          - topic.posts.each do |post|
            - if post.is_published?
              %li <span style='color: #888; font-size: 16px;'>#{Time.at(post.timestamp).strftime('%m.%d.%Y')}</span> | <a href=#{post.permalink}><span style='font-weight: bold; font-size: 16px;'>#{post.title}</span></a>
            
        .row{:style => 'text-align: center; margin-top: 40px;'}
          &copy; #{CONFIG[:blog_details][:author]} -- Powered by <a href="https://github.com/danielscottt/Via">Via</a>.
          #links
            %a#github-link{:href => "https://github.com/danielscottt"}
              %i.fa.fa-github.fa-2x
            %a#twitter-link{:href => "https://twitter.com/danielscottt"}
              %i.fa.fa-twitter.fa-2x
            %a#linkedin-link{:href => "https://linkedin.com/in/danielscottt/"}
              %i.fa.fa-linkedin.fa-2x
