!!!
%html
  %head
    %title
    %link{:href => "http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "/css/style.css", :rel => "stylesheet", :type => "text/css"}
    %script{:src => "http://code.jquery.com/jquery-1.10.0.min.js"}
    %script{:src => "/js/common.js"}
  %body
    .container-liquid
      .container{:style => "margin-top: 40px"}
        .row
          .span9
            %h1
              %a{:href => "/"}
                dpitt:~
                %span{:style => "font-size: 36px;"} $
            %span#subtitle On which I blog about nothing
        .row{:style => "margin-top: 40px;"}
          #nav-left.span3{:style => "margin-top: 10px;"}
            %img{:src => "/img/dan.jpg", :width => '190px'}
            %br/
            %h4{:style => "color: #898989; letter-spacing: -1px;"} daniel pittman
            %h3{:style => "letter-spacing: -1px; margin-top: -15px;"}
              %a#nav.link{:href => "/archive"} Archive
          .span3
          .span9
            - post = Controller::Blog.get_single_post(params['year'], params['month'], params['slug'])
            %h2{:style => "margin-top: 10px;"} 
              %a{:href => "#{post.permalink}"}>#{post.title}
            .post-body
              %p 
                = post.body
            .post-footer
              #{Time.at(post.timestamp).strftime('%m.%d.%Y')}
              |
              Tagged:&nbsp;
              - post.tags.each do |tag|
                %a{:href => "/tag/#{tag}"}>#{tag}&nbsp; 
    #footer
      .container
        .row
          .span4
            %h4{:style => "margin: 0;"} dan
            I like beer, coffee, computers, pictures of things, babies (preferrably mine), coding badly, and doing so in Vim.
          .span4{:style => "text-align: center;"}
            %h4{:style => "margin: 0;"} You can find me at these places
            %a#github-link{:href => "https://github.com/danielscottt"}
              %i.icon-github.icon-3x
            %a#twitter-link{:href => "https://twitter.com/danielscottt"}
              %i.icon-twitter.icon-3x
            %a#linkedin-link{:href => "https://linkedin.com/in/danielscottt/"}
              %i.icon-linkedin.icon-3x
          #descrip.span4
            %h4{:style => "margin: 0;"} About this blog
            An aggragate of various ephemera compiled for no reason.  But who cares, really?
